<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Failed suite [All Test Suite]" guice-stage="DEVELOPMENT">
    <test thread-count="5" name="C:/github/next4biz-automation(failed)">
        <classes>
            <class name="ApsiyonCase.ProductTest">
                <methods>
                    <include name="testResult"/>
                    <include name="setUp"/>
                    <include name="teardown"/>
                    <include name="organizasyonGrupOlustur"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
